body{
    background: #333;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
body h1{
    font-size: 34px;
}
#container{
    text-align: center;
    background: #e7a61a;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
img {
    width: 50px;
    height: 50px;
}
.body_container{
    margin: 0 auto;
    width: 500px;
}
footer{
    width: 80%;
    margin: 0 auto;

    background-color: #e7a61a;

    box-shadow: webkit-box-shadow: -11px 10px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 10px 19px 3px rgba(0,0,0,0.75);
    box-shadow: -11px 10px 19px 3px rgba(0,0,0,0.75);

    
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-img{
    display: flex;
    width: 500px;
    height: 180px;
    background: transparent;
}
#img-container{
    background-image: url('https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png');
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}