body{
    background: blueviolet;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
body h1{
    font-size: 34px;
}
#container{
    text-align: center;
}
.body_container{
    margin: 0 auto;
    width: 500px;
}